<section class="pagination">
  <% if(currentPage !== 1) { %><a href="?page=1">1</a><% } %> <% if(previousPage
  && previousPage !== 1) { %><a href="?page=<%= previousPage %>"
    ><%= previousPage %></a
  ><% } %>
  <a class="active" href="?page=<%= currentPage %>"><%= currentPage %></a>
  <% if(hasNextPage) { %><a href="?page=<%= nextPage %>"><%= nextPage %></a><% }
  %> <% if(currentPage !== lastPage && nextPage !== lastPage) { %><a
    href="?page=<%= lastPage %>"
    ><%= lastPage %></a
  ><% } %>
</section>
