<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>    
                        <form action="/cart-delete-item" method="POST"> 
                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            <button type="submit" class="btn danger">Delete</button>
                        </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <form action="/create-order" method="POST">  
                    <button type="submit" class="brn">Order Now</button>
                </form>
            <% } else { %>
                <h1>No products in cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>